/*importar fuentes*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');



@import "variables"; // en _variables he definido todas las condiciones que voy a utilizar dentro de los estilos*/




/*Reset*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*estilos generales*/

body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    
}


/*--------------------------Barra de redes sociales----------------------*/

.container-redes {
    padding: 15px;
    text-align: right;
    width: 100%;
    height: 50px;
    background-color: $color-fondo;
    border-bottom: 1px solid $color-bordes;
}

.container-redes a {
    margin-right: 50px;
    margin-top: 5px;
}

.container-redes i {
    color: $color-footer;
}


/*--------------------------Barra de navegacion----------------------*/


.navbar {
    padding: 2rem;
    background-color: $color-fondo;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}


/*--------------------importar los modulos de estilos-----------------------------*/


@import "estilos-nosotros";
@import "estilos-servicios";
@import "estilos-blog";
@import "estilos-contacto";
@import "estilos-footer";
@import "estilos-bootstrap";

/*--------------------------adaptable (Responsive)-------------------------*/

/*se corrige el orden del media query como se sugirio en las notas de retroalimentación de la segunda pre-entrega*/

@media screen and (min-width:490px){
    .contact__info {
        border-right: 1px solid #00c8ff;
        border-bottom: none;
        margin-bottom: 30px;
    }
    .slide {
        height: 350px;
    }

    /*responsive pag-servicios*/
    .banner__titulo {
        font-size: 30px; 
    }
    .banner__txt {
        display: block;
        margin-left: 30px;
        
    }
    .banner__txt a {
        color: #fff;
        text-decoration: none;
    }

    .info {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -80px;
        position: relative;   
    }

    .info__columna {
        width: 30%;
    }
     /*responsive seccion */

    .descripcion {
        text-align: left;   
    }
    .descripcion__img__contenedor{
        max-width: 100%;
        text-align: center;
        overflow: hidden;
    }
    #descripcion__img {
        border-radius: 10px;
        width: 100%;
        max-width: 800px;  
    }

    /*--------------página Blog-----------------------------*/


    .noticias {
        display: flex;
        width: 100%;
       
    }
    .noticias__contenedor {
       
        width: 50%;
    }
    .blog {
        margin-left: 15px;
        width: 50%;
       
    }
   

   
    
    
 

   

}

@media screen and (min-width:767px) {
    
    /*slider*/
    .slide {
        overflow: hidden;
        width: 100%;
        height: 550px;
        margin-top: 25px;
    }

    .slide img {
        height: auto;
        margin-top: -150px;
    }
    .columnas {
        margin-left: 30px;
    }

    //eliminar cuando se termine por completo
    .construccion img {
        max-width: 700px;
        margin: 0 auto;   
    }
    .banner__titulo {
        font-size: 50px; 
    }
    .banner__txt {
        font-size: 30px;   
    }
    .banner__nosotros {
        height: 450px;
        overflow: hidden;   
    }
    .descripcion {
        padding: 30px;
    }
    .descripcion__contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .descripcion__img__contenedor{
        max-width: 50%;
        text-align: center;
        overflow: hidden;
        margin: 0 20px;
    }
    .descripcion__txt {
        width: 50%;
        
    }
    .blog {
        width: 40%;
    }
    .noticias__contenedor {
        width: auto;
    }

    /*------------------responsive servicios-------------*/

    .tarjeta {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .desarrollo__titulo {
        padding: 10px;
        margin-bottom: 20px;
    }
    .tarjeta p {
        width: 50%;
        padding: 0;
    }
    .descripcion {
        justify-content: center;  
    }


    /*nosotros*/


    .equipo {
        display: flex;
    }
}



@media screen and (max-width:767px) {
    .navbar-brand {
        display: none;
    }
    
}
@media screen and (max-width:490px) {

    .nepal,
    .dhelpy,
    .inggoo {
        width: 100%;
    }
  
  
}




